<label>Integer</label>
<br />
<input type="text" class="uk-input uk-form-width-large" name="integer" [(ngModel)]="integer" integer> {{integer}}

<br />

<label>Decimal</label>
<br />
<input type="text" class="uk-input uk-form-width-large" name="decimal" [(ngModel)]="decimal" decimal> {{decimal}}

<br />

<label>Currency</label>
<br />
<input type="text" class="uk-input uk-form-width-large" name="currency" [(ngModel)]="currency" currency> {{currency}}

<br />

<label>Date</label>
<br />
<input type="text" class="uk-input uk-form-width-large" name="date" [(ngModel)]="date" date> {{date}}